#root {
  width: 100%;
  text-align: center;
}
header {
  background-color: #ffffff;
  box-shadow: -2px 0px 14px 0px #80808052;
  margin-bottom: 5rem;
}
.header-bottom {
  background-color: #efefef;
  margin: 0;
  padding: 0;
  border: none;
  height: 2px;
}
.logo-header {
  height: 80px;
  width: auto;
  padding: 1rem;
}
.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.card-separator {
  margin: 0;
  width: 40%;
  background-color: #e5e5e56b;
  height: 4px;
  border: none;
  border-radius: 30px;
}
.card {
  width: 40%;
  /* border: 5px solid black; */
  border-radius: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.card:hover {
  /* transform: scale(1.05); */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 20px 30px;
  z-index: 999;
}
.card:after {
  content: "";
}
.card:focus-within {
  justify-content: flex-start;
  align-items: flex-start;
  width: 80%;
}

.card-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-additional {
  display: none;
  opacity: 0;
}
.card:focus-within .card-additional {
  display: flex;
  opacity: 1;
}
.card-img {
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  /* width: 80%; */
  /* height: auto; */
}
.card-img:hover {
  transform: scale(1.1);
}
.card-name {
  font-size: 2rem;
  transition: 0.5s;
  margin: 1rem;
}
.card-name:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  /* left: 50%; */
  /* position: absolute; */
  background: #000000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.card-name:hover:after {
  width: 100%;
  left: 0;
}
.card-description {
  padding: 2rem;
}
.order-text {
  font-size: 1.5rem;
  font-weight: bold;
}
.order-link {
  text-decoration: none;
  transition: 0.2s;
  color: white;
  background: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
  padding: 0.1rem;
}
.order-link:hover {
  text-decoration: underline;
}
/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
