@media only screen and (min-width: 768px) {
  /* tablets and desktop */
}

@media only screen and (max-width: 767px) {
  /* phones */
  .logo-header {
    height: 60px;
  }
  .card {
    width: 80%;
    flex-direction: column;
    transition: 1ms;
  }
  .card-name {
    font-size: 1.35rem;
  }
  .card-img {
    height: 220px;
  }
  .card:focus-within {
    justify-content: center;
    align-items: center;
    width: 81%;
  }
  .card-additional {
    display: none;
    opacity: 0;
  }
  .card:focus-within .card-additional {
    display: flex;
    opacity: 1;
  }
  .order-text {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  /* portrait phones */
}
